node_modules
.serverless
.build
.gcloud
keyfile.json
dist
*.log
.DS_Store
.env
secrets.yml
monitoring/dashboard.dev.json
monitoring/dashboard.prd.json
monitoring/alert-policies.dev.json
monitoring/alert-policies.prd.json
gateway/openapi.dev.yaml
gateway/openapi.prd.yaml

# Firebase
.firebase/
firebase-debug.log

functions/
!src/functions/
index.js
index.js.map
