rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /chunks/{chunkId}/pixels/{pixelId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /chunks/{chunkId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /activeArea/{docId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /sessions/{sessionId} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
